
  <p>
    <!-- {{ loggedIn }} -->
    {% if loggedIn == "1" %}
      <p>Du bist eingeloggt als: {{ name }}</p>
      <div class="menu" ><a class="menu" href="/">Domainliste</a> </div>
      <!-- <div class="menu" ><a class="menu" href="/dashboard">Meine Anzeigen</a> </div> -->
      <!-- <div class="menu" ><a class="menu" href="/upload">Upload</a> </div> -->
      <div class="menu" ><a class="menu" href="/newdomain">Neue Domain</a> </div>
      <div class="menu" ><a class="menu" href='/sslexpirelist'>SSL Expirelist</a></div>
      <div class="menu" ><a class="menu" href='/sslcheck/all'>Update SSL Data</a></div>
      <div class="menu" ><a class="menu" href='/dashboard/profil'>Profil</a></div>
      <div class="menu" ><a class="menu" href='/logout'>Logout</a></div>
      {% else %}
      <div class="menu" ><a class="menu" href="/">Startseite</a> </div>
      <p><a class="menu" href='/login'>Login</a></p>
      <p><a class="menu" href='/register'>Registrieren</a></p>
    {% endif %}
  </p>
